<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500"  rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet"/>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <main class="content">
        <div class="block">
            <div class="row">
                <div class="container">
                    <h1>Search Result</h1>
                    <table class="table responsive" id="sort">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Provider</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class = "materials-list" th:each="Material: ${materials}">
                                <td data-table-header="Id" th:text="${Material.id}"></td>
                                <td data-table-header="Name"><a th:href = "${Material.href}" th:text="${Material.name}"></a></td>
                                <td data-table-header="Price" th:text="${Material.price}"></td>
                                <td data-table-header="Unit" th:text="${Material.unit}"></td>
                                <td data-table-header="Provider" th:text="${Material.provider}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script  th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js}" src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js'></script>
    <script  type="text/javascript" th:src="@{/function.js}" src="../static/function.js"></script>
</body>
</html>